%head.mainpage_header
  .mainpage_header-contents
    .mainpage_header-contents__icon
    .mainpage_header-contents__search
    .mainpage_header-contents__status
%body.main_container
  .customer_search_t
  .customer_search_result
    .customer_search_result__contain
      .customer_search_results
        .customer_search_results__title
          .customer_search_results__title__length
            .customer_search_results__title__color
              %h3.customer_search_results__title__inside
